*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contenedorPrincipal{
    width: 80vw;
    height: 90vh;
    margin: 5px auto;
    background-color: rgb(206, 206, 206);
    border: 1px solid black;
}

/*Logo cabecera*/
.header{
    height: 10%;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}

.header h1{
    margin-top: 2px;
    color: white;
}

#logoEuro{
    width: 5%;
    height: 100%;
}

/*body*/
.body{
    height: 60%;
    padding: 5px;
    background-color: white;
    margin: 0px 1em 1em 1em ;
}

.cabeceraBody{
    background-color: rgb(206, 206, 206);
    height: 10%;
    display: flex;
    margin: 4px;
}

.cabeceraBody div{
    margin: 2px;
    font-size: small;
    text-align: center;
}

.concepto{
    flex-grow: 0.4;
}

.fecha{
    flex-grow: 0.4;
}

.importe{
    flex-grow: 0.2;
}

.operaciones{
    flex-grow: 0.1;
}

.bodyRegistros{
    margin: 4px;
    height: 75%;
    overflow: scroll;
}

.bodyInput{
    margin: 4px;
    padding: 4px;
}

.bodyInput form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(206, 206, 206);
    padding: 4px;
}

#concepto{
    width: 30%;
}
#fecha, #importe{
    width: 10%;
}
#addRegistro{
    width: 10%;
    background-color: white;
    border-color: gray;
    padding: 2px;
}

/*buscar concepto */
.buscarConcepto{
    background-color: white;
}

.buscarConcepto form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

#inputBuscarConcepto{
    width: 20%;
    margin: 0px 10px;
}

#buscarBoton{
    background-color: white;
    border-color: gray;
    padding: 2px;
    width: 10%;
}

#buscarTodasOperaciones{
    background-color: white;
    border-color: gray;
    padding: 2px;
    margin-left: 2px;
    width: 20%;
}

/*SALDO*/
.saldo{
    width: 100%;
    padding: 4px;
    display: flex;
    justify-content: center;
}

.displaySaldo{
    border-radius: 10px;
    background-color: white;
    width: 20%;
    height: 7vh;
    text-align: center;
    font-size: medium;
}

/*REGISTROS*/
.operacionesMonedero{
    font-size: small;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}


/*REGISTRO UNICO*/

.registroUnico{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(206, 206, 206);
    margin: 4px 0px;
    padding: 8px 0px;
}

.botonesRegistroUnico{
    display: flex;
    width: 15%;
    justify-content: center;
}
.botonesRegistroUnico button{
    padding: 4px;
    margin: 0px 2px;
}

.datosRecibidos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px; 
    flex-grow: 1;
}

.conceptoDatos {
    width: 40%; 
}

.fechaDatos {
    width: 20%; 
    text-align: left;
}

.importeDatos {
    width: 20%;
    text-align: left;
}