.offset {
    overflow: hidden;
    margin: 20px 0 40px 20px;
}

.offset div {
    background-color: #eee;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width: 160px;
    text-align: center;
}

.examplelabelboxshadow {
    color: #888;
    font-size: 20px;
    position: relative;
    top: 20px;
}

.exampleboxshadowb {
    box-shadow: -5px -4px 5px 0px gray;
}

.exampleboxshadowc {
    box-shadow: -4px -4px 0 4px gray;
}

.exampleboxshadowd {
    box-shadow: -0.5em -0.5em 5px 0px gray;
}

.exampleboxshadowe {
    box-shadow:  -1px -1px 1px 0px  rgb(128 128 128 / 0.9), 1px -1px 1px 0px  rgb(128 128 128 / 0.9)
}

.exampleboxshadowf {
    box-shadow:  -5px -5px 10px   rgb(128 128 128 ), 5px -5px 10px  rgb(128 128 128)
}

.exampleboxshadowg {

}

p { font-size: 2em; margin: 1em; padding: 0 5px; }

.tres{text-shadow: 1px 1px 2px red, 0 0 1em rgb(0, 0, 0), 0 0 0.2em blue}