* {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    text-align: center;
}

h1, span{
    font-size: 26px;
    font-family: Cambria, serif;
}

table {
    border-collapse: collapse;
    margin: 1em auto;
    background-color: #518ABB;
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid white;
}

#mainContainer{
    margin-top: 2em;
}

#textContainer{
    background-color: #518ABB;
    width: 500px;
    height: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}