/* -------------------- Header -------------------- */
*{
  box-sizing: border-box;
}
header {
  background: linear-gradient(90deg, rgba(27, 20, 74, 1) 0%, rgba(19, 57, 64, 1) 100%);
  position: fixed;
  width: 100dvw;
  z-index: 100;
  padding: 1rem 5rem 1rem 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar .logo h1 {
  font-size: 1.8rem;
  color: white;
  margin: 0;
  font-weight: 700;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: relative;
  width: 1rem;
  padding: 0rem 0.8rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 1rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links li a:hover {
  background-color: rgba(19, 112, 132, 0.8);
}

.menu-toggle {
  display: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

#logo{
  text-decoration: none;
}

.menu-toggle:checked + .hamburger + .nav-links {
  display: flex;
  transform: translateX(0);
}

.hamburger .fa-bars {
  display: block;
}

.hamburger .fa-times {
  display: none;
}

.menu-toggle:checked + .hamburger .fa-bars {
  display: none;
}

.menu-toggle:checked + .hamburger .fa-times {
  display: block;
}

.hamburger-icon, .close-icon {
  display: block;
}

.close-icon {
  display: none;
}

.menu-toggle:checked ~ .hamburger .hamburger-icon {
  display: none;
}

.menu-toggle:checked ~ .hamburger .close-icon {
  display: block;
}
