/* -------------------- Hero Section -------------------- */
.hero {
  background: linear-gradient(
    135deg,
    rgba(27, 20, 74, 1) 0%,
    rgba(19, 57, 64, 1) 100%,
    rgba(19, 112, 132, 1) 50%
  );
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0px;
  overflow: hidden;
}

.hero-content {
  display: flex;
  flex-direction: row;
  gap: 0;
  max-width: 1200px;
  flex-basis: 100%;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-presentacion {
  width: 20rem;
  height: 25rem;
  border-radius: 0.7rem;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0px;
  letter-spacing: 0.2rem;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
  font-weight: 400;
}

.all-btn-hero{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.btn-hero {
  background-color: var(--color-primario);
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  width: 20%;
}

.btn-hero:hover {
  background-color: #2a77b7;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* -------------------- Trabajos -------------------- */
#trabajos {
  background-color: var(--color-fondo);
  padding: 1rem 2.5rem;
  text-align: center;
}

#trabajos h2 {
  font-size: 2em;
  color: #333;
  font-weight: 700;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.7rem;
}

.proyecto {
  position: relative;
  width: calc(33% - 20px);
  overflow: hidden;
  border-radius: 0.8rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.proyecto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.proyecto:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.info{
  color: #fff;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.info h3 {
  font-size: 1.8rem;
  margin-bottom: 0;
  font-weight: 600;
}

.info p{
  margin-bottom: 1.2rem;
}

.btn-ver {
  padding: 1rem 1rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 0.7rem;
  transition: background-color 0.3s ease;
}

.btn-ver:hover {
  background-color: #0056b3;
}
