/* -------------------- Variables Globales -------------------- */
:root {
  --color-primario: #3498db;
  --color-secundario: #2c3e50;
  --color-fondo: #f4f4f4;
  --color-titulo: #133940;
  --color-texto: #333;
  --color-card: #fff;
  --fuente-principal: "Roboto", sans-serif;
}

/* -------------------- Estilos Globales -------------------- */
body {
  font-family: var(--fuente-principal);
  margin: 0;
  padding: 0;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  height: 100dvh;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primario);
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2a77b7;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

section {
  padding: 0px;
}

/* -------------------- Pie Pagina -------------------- */
footer {
  background-color: var(--color-secundario);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #f4f4f4;
  text-align: center;
  font-size: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer p {
  margin: 0.2rem 0;
  font-size: 1.2rem;
}

/* -------------------- Redes Sociales -------------------- */
.footer-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 2em;
}

.icon-link {
  color: #f4f4f4;
  font-size: 1.5em;
  transition: color 0.3s ease, transform 0.3s ease;
}

.icon-link:hover {
  color: var(--color-primario);
  transform: translateY(-3px);
}

.icon-link:active {
  transform: translateY(0);
}
