* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

table {
    margin: 3em auto 1em;
}

table,
tr,
th,
td {
    border: 1px solid black;
    padding: 5px;
}

tr:hover {
    background-color: chocolate;
}

td:hover {
    background-color: violet;
}

h1 {
    margin: auto;
    font-size: large;
}

fieldset {
    margin: 1em auto;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

form {
    margin: 2em;
    display: flex;
    flex-direction: column;
}

input,
select {
    border-color: #ccc;
    width: 130px;
    transition: border-color 0.3s ease;

}

#email{
    width: 220px;
}

#tercerField {
    display: block;
}

#enviar {
    margin: auto;
}

input:invalid {
    border-color: #ff3030;
}

input:valid {
    border-color: #4CAF50;
}