/* === Global Media Queries === */
@media (max-width: 480px) {
  .testimonio-card {
    width: 100%;
  }

  .navbar .logo h1 {
    font-size: 1.5rem;
  }

  .nav-links li a {
    font-size: 1rem;
  }

  .proyecto {
    flex-basis: 100%;
  }

  .img-acercademi {
    display: none;
  }
}

@media (max-width: 768px) {
  footer {
    
    gap: 1rem;
  }

  footer p{
    font-size: 1.5rem;
  }

  .icon-link {
    font-size: 1.3em;
  }
}

@media (max-width: 800px) {
  .logo{
    padding: 0rem 1rem;
  }

  header{
    padding: 0.5rem 2rem 0.5rem 0rem;
  }

  .nav-links {
    height: 100vh;
    width: fit-content;
    position: fixed;
    top: 0;
    right: -100%;
    background: rgba(19, 57, 64, 0.95);
    flex-direction: column;
    justify-content: flex-start;
    padding: 5rem 1rem;
    font-size: x-large;
    transition: right 0.3s ease;
  }

  .menu-toggle:checked ~ .nav-links {
    right: 0;
  }

  .hamburger {
    display: block;
    z-index: 1002;
  }

  .nav-links li a {
    font-size: 1.2rem;
  }

  .acerca-demi {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin: 1rem;
  }

  .img-acercademi .foto-perfil {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
  }

  .parrafo-acercademi {
    padding-left: 0;
  }

  .habilidad-card{
    flex-basis: 100%;
    margin: 0rem 1rem 0rem 1rem;
    padding: 0.5rem;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .hero-image {
    flex: none;
    width: 150px;
    height: 150px;
  }

  .hero-text {
    flex: none;
    max-width: 100%;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .img-presentacion {
    width: 200px;
    height: 200px;
  }

  .btn-github {
    padding: 8px 16px;
  }

  .testimonio-card {
    width: calc(50% - 20px);
  }

  #trabajos h2 {
    font-size: 2rem;
  }

  .habilidad-teory{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.servicio-card{
  flex-basis: 100%;
}

#contacto{
  margin: 1rem 1rem 2rem 1rem;

}

#habilidades{
  margin: 0rem 1rem;
  padding: 0.1rem 0rem 1rem 0rem;
}
}