/* Sección Mis Servicios */
#servicios {
    padding: 0.5rem 1rem;
    margin: 1rem 1rem;
    border-radius: 0.8rem;
    text-align: center;
  }
  
  #servicios h2 {
    font-size: 2em;
    color: #133940;
  }
  
  .contenedor-servicios {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;  
  }
  
  .servicio-card {
    background: var(--color-card);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    border-left: 5px solid var(--color-primario);
    flex: 1 1 calc(30% - 20px); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }


  .servicio-card i {
    font-size: 3rem;
    color: #133940;
    margin-bottom: 15px;
  }
  
  .servicio-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #133940;
  }
  
  .servicio-card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    text-align: left;
}
  
  .servicio-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  